<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员权限修改</title>
    <link rel="icon" th:href="@{/images/homepage_images/core-img/favicon.ico}">
    <div th:replace="~{common/common_css::common_css}"></div>
</head>
<style>
    html::-webkit-scrollbar{
        display: none;
    }
</style>
<body class="hold-transition sidebar-mini">
    <div th:replace="~{common/loading::loading}"></div>
    <div th:replace="~{backendsystem/frame/main_nav::main_nav}"></div>
    <div th:replace="~{backendsystem/frame/main_aside::main_aside}"></div>
    <div th:replace="~{backendsystem/frame/admin::admin}"></div>

</body>
<div th:replace="~{common/common_js::common_js}"></div>
</html>