<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宜家医坊-医师总览</title>
    <link rel="stylesheet" th:href="@{/css/main_css/main.css}" />
    <link rel="icon" th:href="@{/images/homepage_images/core-img/favicon.ico}">
    <div th:replace="~{common/common_css::common_css}"></div>
</head>

<body class="hold-transition sidebar-mini">
    <div th:replace="~{common/loading::loading}"></div>
    <div th:replace="~{backendsystem/frame/main_nav::main_nav}"></div>
    <div th:replace="~{backendsystem/frame/main_aside::main_aside(activeUri = '/admin/allpatients')}"></div>
    <div th:replace="~{backendsystem/frame/doctorOverviewList::doctorOverviewList}"></div>
</body>
    <div th:replace="~{common/common_js::common_js}"></div>
</html>