<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>患者社区-最全面的交流社区</title>
    <link rel="icon" th:href="@{/images/homepage_images/core-img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/homepage_css/style.css}">
    <link rel="stylesheet" th:href="@{/css/loading.css/loading.css}"/>
</head>

<body>
<div th:replace="~{common/loading::loading}"></div>
<div th:replace="~{common/header::header(activeUri = '/user/community')}"></div>
<section class="breadcumb-area bg-img gradient-background-overlay"
         style="background-image: url('/medical/images/homepage_images/bg-img/breadcumb2.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">交流社区</h3>
                    <br>
                    <p>在这里，您提出的任何问题都会得到解答。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="medilife-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div th:replace="frontdesk/communityMain :: main"></div>
                </div>
                <div th:replace="frontdesk/communitySide :: side"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="pagination-area mt-50">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item active"><a class="page-link" th:href="@{/#}">01</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/#}">02</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/#}">03</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/#}">04</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/#}">...</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/#}">99</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/#}">100</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="connect">建立连接通道:</label>
                        <button id="connect" class="btn btn-default" type="submit">Connect</button>
                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>记录</th>
                    </tr>
                    </thead>
                    <tbody id="notice">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{common/footer::footer}"></div>
</body>
<script th:src="@{/js/homepage_js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/homepage_js/popper.min.js}"></script>
<script th:src="@{/js/homepage_js/bootstrap.min.js}"></script>
<script th:src="@{/js/homepage_js/plugins.js}"></script>
<script th:src="@{/js/homepage_js/active.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script>
    $(window).load(function () {
        $(".loading").fadeOut(750);
    });
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('whatever');
        var modal = $(this);
        modal.find('.modal-title').text('New message to ' + recipient);
        modal.find('.modal-body input').val(recipient)
    });

    /*WebSocket 配置*/
    var stompClient = null;

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected) {
            $("#conversation").show();
        }
        else {
            $("#conversation").hide();
        }
        $("#notice").html("");
    }

    /*连接*/
    function connect() {

        /*连接上端点(基站)*/
        var socket = new SockJS('/medical/endpoint-websocket');

        /*用stom进行包装，规范协议*/
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);

            /*订阅/topic/server_info信道的消息*/
            stompClient.subscribe('/topic/diagnosis', function (result) {
                showContent(JSON.parse(result.body));
            });
        });
    }

    /*断开*/
    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    /*推送消息*/
    function sendName() {
        stompClient.send("/app/topic/subscription", {}, JSON.stringify({'content': $("#send").parent("div").find("div:eq(0)").text()}));
    }

    function showContent(body) {
        $("#notice").prepend("<tr><td>" + body.content + "</td> <td>" + new Date(body.time).toLocaleString() + "</td></tr>");
    }

    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });

        /*连接*/
        connect();

        $("#disconnect").click(function () {
            disconnect();
        });

        /*推送消息*/
        $( "#send" ).click(function() { sendName(); });
    });
</script>
</html>