<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="docList">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    img{
        object-fit: cover;
        height: 58px;
        width: 58px;
    }
</style>
<body>
<div class="col-12 col-lg-8 parent"></div>
<!--开始-->
<div class="col-12 col-lg-2">
    <div class="medilife-blog-sidebar-area">
        <div class="medilife-catagories-card mb-50">
            <h5>科室</h5>
            <ul class="dept-link catagories-menu">
                <li th:class="${activeUri == '/user/consult/${dept.deptId}'?'nav-item':'nav-item'}">
                    <a class="deptId" href="#" th:id="${dept.deptId}" th:each="dept:${dept}" th:text="${dept.deptName}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--结束-->
<!--开始-->
<div class="col-12 col-lg-2">
    <div class="medilife-blog-sidebar-area">
        <div class="medilife-catagories-card mb-50">
            <!--<h5>科室</h5>-->
            <ul class="dept-link catagories-menu">
                <li th:class="${activeUri == '/user/consult/${dept.deptId}'?'nav-item':'nav-item'}">
                    <a class="deptId" href="#" th:id="${dept.deptId}" th:each="dept:${dept}" th:text="${dept.deptName}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--结束-->
</body>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    console.log(returnCitySN["cip"]+','+returnCitySN["cname"]);
    window.onload = function () {
        $.ajax({
            url:'/medical/user/consult/1',
            type:"GET",
            success:function (res) {
                buildDoctor(res);
            }
        });
    };

    var xinxueCount;
    var xiaohuaCount;
    var zhongyiCount;
    var yiliaobaojianCount;
    var xueyeCount;
    var gandanCount;
    var puwaiCount;
    var xinxiongCount;
    var miniaoCount;
    var jiaoxingCount;
    var shenjingCount;
    var zhongliuCount;

    var pvIp = returnCitySN["cip"];

    var pvHomeLocation = returnCitySN["cname"];

    $(function () {
        $.ajax({
            url: "/medical/admin/getUserPvCount",
            type: "GET",
            data: {
                "pvUserName": $("#user_name").text(),
            },
            success: function (res) {
                console.log(res.extend.userPv);
                if (res.extend.userPv == null) {
                    xinxueCount = 0;
                    xiaohuaCount = 0;
                    zhongyiCount = 0;
                    yiliaobaojianCount = 0;
                    xueyeCount = 0;
                    gandanCount = 0;
                    puwaiCount = 0;
                    xinxiongCount = 0;
                    miniaoCount = 0;
                    jiaoxingCount = 0;
                    shenjingCount = 0;
                    zhongliuCount = 0;
                }else {
                    if (res.extend.userPv.pvXinxueSum == null) {
                        xinxueCount = 0;

                    }else if(res.extend.userPv.pvXinxueSum != null){
                        xinxueCount = res.extend.userPv.pvXinxueSum;

                    }

                    if(res.extend.userPv.pvXiaohuaSum == null){
                        xiaohuaCount = 0;

                    }else if(res.extend.userPv.pvZhongyiSum != null){

                        xiaohuaCount = res.extend.userPv.pvXiaohuaSum;;
                    }

                    if(res.extend.userPv.pvZhongyiSum == null){
                        zhongyiCount = 0;

                    }else if(res.extend.userPv.pvZhongyiSum != null){
                        zhongyiCount = res.extend.userPv.pvZhongyiSum;

                    }

                     if(res.extend.userPv.pvYiliaobaojianSum == null){
                        yiliaobaojianCount = 0;

                    }else if(res.extend.userPv.pvYiliaobaojianSum != null){
                        yiliaobaojianCount = res.extend.userPv.pvYiliaobaojianSum;

                    }

                    if(res.extend.userPv.pvXueyeSum == null){
                        xueyeCount = 0;

                    }else if(res.extend.userPv.pvXueyeSum != null){
                        gandanCount =  res.extend.userPv.pvXueyeSum;

                    }

                    if(res.extend.userPv.pvGandanSum == null){
                        gandanCount = 0;

                    }else  if(res.extend.userPv.pvGandanSum != null){
                        gandanCount = res.extend.userPv.pvGandanSum;

                    }

                    if(res.extend.userPv.pvPuwaiSum == null){
                        puwaiCount = 0;

                    }else if(res.extend.userPv.pvPuwaiSum != null){
                        puwaiCount = res.extend.userPv.pvPuwaiSum;

                    }

                    if(res.extend.userPv.pvXinxiongSum == null){
                        xinxiongCount = 0;

                    }else if(res.extend.userPv.pvXinxiongSum != null){
                        xinxiongCount = res.extend.userPv.pvXinxiongSum;

                    }

                    if(res.extend.userPv.pvMiniaoSum == null){
                        miniaoCount = 0;

                    }else if(res.extend.userPv.pvMiniaoSum != null){
                        miniaoCount = res.extend.userPv.pvMiniaoSum;

                    }

                    if(res.extend.userPv.pvJiaoxingSum == null){
                        jiaoxingCount = 0;

                    }else if(res.extend.userPv.pvJiaoxingSum != null){
                        jiaoxingCount = res.extend.userPv.pvJiaoxingSum;

                    }

                    if(res.extend.userPv.pvShenjingSum == null){
                        shenjingCount = 0;

                    }else if(res.extend.userPv.pvShenjingSum != null){
                        shenjingCount = res.extend.userPv.pvShenjingSum;

                    }

                    if(res.extend.userPv.pvZhongliuSum == null){
                        zhongliuCount = 0;

                    }else if(res.extend.userPv.pvZhongliuSum != null){
                        zhongliuCount = res.extend.userPv.pvZhongliuSum;

                    }
                }
            }
        });
    });

    $('.deptId').click(function () {
        if($(this).attr("id") == 1){
            var pvXinxueSum = ++xinxueCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation + "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvXinxueSum=" + pvXinxueSum;
            check(pvData);
        }else if($(this).attr("id") == 2){
            var pvXiaohuaSum = ++xiaohuaCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvXiaohuaSum=" + pvXiaohuaSum ;
            check(pvData);
        }else if($(this).attr("id") == 3){
            var pvZhongyiSum = ++zhongyiCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvZhongyiSum=" + pvZhongyiSum ;
            check(pvData);
        }else if($(this).attr("id") == 4){
            var pvYiliaobaojianSum = ++yiliaobaojianCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvYiliaobaojianSum=" + pvYiliaobaojianSum;
            check(pvData);
        }else if($(this).attr("id") == 5){
            var pvXueyeSum = ++xueyeCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvXueyeSum=" + pvXueyeSum ;
            check(pvData);
        }else if($(this).attr("id") == 6){
            var pvGandanSum = ++gandanCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" +  "pvGandanSum=" + pvGandanSum;
            check(pvData);
        }else if($(this).attr("id") == 7){
            var pvPuwaiSum = ++puwaiCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvPuwaiSum=" + pvPuwaiSum;
            check(pvData);
        }else if($(this).attr("id") == 8){
            var pvXinxiongSum = ++xinxiongCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvXinxiongSum=" + pvXinxiongSum;
            check(pvData);
        }else if($(this).attr("id") == 9){
            var pvMiniaoSum = ++miniaoCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvMiniaoSum=" + pvMiniaoSum;
            check(pvData);
        }else if($(this).attr("id") == 10){
            var pvJiaoxingSum = ++jiaoxingCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvJiaoxingSum=" + pvJiaoxingSum;
            check(pvData);
        }else if($(this).attr("id") == 11){
            var pvShenjingSum = ++shenjingCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvShenjingSum=" + pvShenjingSum;
            check(pvData);
        }else if($(this).attr("id") == 12){
            var pvZhongliuSum = ++zhongliuCount;
            var pvData = "pvIp=" + pvIp + "&" + "pvHomeLocation=" + pvHomeLocation +  "&" + "pvUserName=" + pvUserName + "&" + "pvTime=" + pvTime + "&" + "pvZhongliuSum=" + pvZhongliuSum;
            check(pvData);
        }
        $.ajax({
            url:'/medical/user/consult/' +  $(this).attr('id'),
            type:"GET",
            success:function (res) {
                buildDoctor(res);
            }
        });
    });

    function check(pvData) {
        $.ajax({
            url: "/medical/admin/pageViews",
            type: "POST",
            data: pvData,
            success: function (res) {
            }
        });
    }

    function buildDoctor(res) {
        $(".parent").empty();
        $.each(res.extend.departmentList.list,function (index, item) {
            $.each(item.doctors,function (index,item){
                var areaDiv = $('<div></div>').addClass('single-blog-area')
                    .append($('<div></div>').addClass('blog-post-thumbnail'))
                    .append($('<div></div>').addClass('post-content')
                        .append($('<div></div>').addClass('post-author')
                            .append($('<a></a>').append($('<img/>').attr('src',item.doctorPhotoSrc))))
                        .append($('<a></a>').addClass('doc_name headline mb-0').append(item.doctorName))
                        .append($('<div></div>').addClass('post-meta')
                            .append($('<a></a>').attr('href','/medical/user/deptWithDoct/' + item.doctorId).attr('id','consult_btn').addClass('post-author-name').append('预约'))
                            .append('&nbsp;|&nbsp;')
                            .append($('<a></a>').attr('href','/medical/user/chat/').addClass('post-catagory').append('咨询')))
                        // .append($('<p></p>').append('主治：'+ res.extend.departmentList.list.deptName))
                        .append($('<p></p>').append('简介:'+ item.doctorIntro)));
                areaDiv.appendTo('.parent');
            });
        });
    }
</script>
</html>