<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>名医预约-权威医师只为您的健康</title>
    <link rel="icon" th:href="@{/images/homepage_images/core-img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/homepage_css/style.css}">
    <link rel="stylesheet" th:href="@{/css/homepage_css/consult.css}">
    <link rel="stylesheet" th:href="@{/css/loading.css/loading.css}"/>
</head>
<body>
<div th:replace="~{common/loading::loading}"></div>
<div th:replace="~{common/header::header(activeUri = '/user/consult')}"></div>
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('/medical/images/homepage_images/bg-img/breadcumb2.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">优秀的医师团队</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="medilife-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div th:replace="~{frontdesk/consultList :: docList}"></div>
            <!--<div th:replace="~{frontdesk/communitySide :: side(activeUri = '/user/deptWithDoct/${dept.deptId}')}"></div>-->
        </div>
    </div>
</section>
<div th:replace="~{common/footer::footer}"></div>
</body>
<script th:src="@{/js/homepage_js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/homepage_js/popper.min.js}"></script>
<script th:src="@{/js/homepage_js/bootstrap.min.js}"></script>
<script th:src="@{/js/homepage_js/plugins.js}"></script>
<script th:src="@{/js/homepage_js/active.js}"></script>
<script>
    $(window).load(function () {
        $(".loading").fadeOut(750);
    });
</script>
</html>