<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基于大数据技术的医疗服务平台--用户注册</title>
    <link rel="stylesheet" th:href="@{/css/reg_css/basic.css}"/>
    <link rel="stylesheet" th:href="@{/css/reg_css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/reg_css/reg.css}"/>
    <link rel="stylesheet" th:href="@{/css/sweetalert_css/sweet-alert.css}"/>
    <link rel="stylesheet" th:href="@{/css/others_css/homepage.css}"/>
    <link rel="stylesheet" th:href="@{/css/homepage_css/style.css}">
    <link rel="stylesheet" th:href="@{/css/loading.css/loading.css}"/>
    <link rel="icon" th:href="@{/images/homepage_images/core-img/favicon.ico}">
    <style type="text/css">
        .error {
            display: inline-block;
            font-size: 14px;
            color: red;
            margin-bottom: 17px;
            width: 413px;
        }
    </style>
    <div th:replace="~{common/loading::loading}"></div>
</head>
<body>
<div th:replace="~{common/header::header}"></div>
<section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('/medical/images/homepage_images/bg-img/breadcumb2.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">欢迎注册</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<article class="htmleaf-content">
    <form id="msform">
        <ul id="progressbar">
            <li class="active">账号基本信息</li>
            <li>个人详细信息</li>
            <li>邮箱验证</li>
        </ul>
        <fieldset class="flt">
            <h2 class="fs-title">账号基本信息</h2>
            <h3 class="fs-subtitle">这是第一步</h3>
            <input id="username" type="text" name="username" placeholder="用户名" autocomplete="off"/>
            <img id="name_img" alt="" th:src="@{/images/right.png}" style="display:none; position:relative; float:right;left:10px; top:15px;">
            <input id="password" type="password" name="password" placeholder="密码" autocomplete="off"/>
            <img id="password_img" alt="" th:src="@{/images/right.png}" style="display:none; position:relative; float:right;left:10px; top:15px;">
            <input id="repwd" type="password" name="repwd" placeholder="确认密码" autocomplete="off"/>
            <img id="repwd_img" alt="" th:src="@{/images/right.png}" style="display:none; position:relative; float:right;left:10px; top:15px;">
            <input id="next1" type="button" name="next" class="next action-button" value="下一步&nbsp;&nbsp;&nbsp;&raquo;"/>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">个人详细信息</h2>
            <h3 class="fs-subtitle">请填写你的真实信息</h3>
            <input id="realname" type="text" name="realname" placeholder="真实姓名" autocomplete="off"/>
            <img id="realname_img" alt="" th:src="@{/images/right.png}" style="display:none; position:relative; float:right;left:10px; top:15px;">
            <input id="age" type="text" name="age" placeholder="年龄" autocomplete="off"/>
            <img id="age_img" alt="" th:src="@{/images/right.png}" style="display:none; position:relative; float:right;left:10px; top:15px;">
            <input id="sex1" type="radio" name="sex" style="width: 30px;float:none;" checked="checked" value="男"/>
            <span style=" font-size: 14px;">男</span>
            <input id="sex2" type="radio" name="sex" style="width: 30px;float:none; " value="女"/>
            <span style=" margin-right:30px;font-size: 14px;">女</span>
            <input id="phone" type="text" name="phone" placeholder="手机号码" autocomplete="off"/>
            <img id="phone_img" alt="" th:src="@{/images/right.png}" style="display:none; position:relative; float:right;left:10px; top:15px;">
            <input id="pre1" type="button" name="previous" class="previous action-button" value="&laquo;&nbsp;&nbsp;&nbsp;前一步" autocomplete="off" style="margin-left:50px;"/>
            <input id="next2" type="button" name="next" class="next action-button" value="下一步&nbsp;&nbsp;&nbsp;&raquo;"/>
        </fieldset>
        <fieldset>
            <h2 class="fs-title">邮箱</h2>
            <h3 class="fs-subtitle">个人详细信息是保密的，不会被泄露</h3>
            <input id="email" type="email" name="email" placeholder="邮箱地址" autocomplete="off"/>
            <img id="email_img" alt="" th:src="@{/images/right.png}" style="display:none; position:relative; float:right;left:10px; top:15px;">
            <input id="code" type="text" name="code" placeholder="验证码" autocomplete="off" style="width: 290px; float: left;"/>
            <input id="free_code_btn" class="btn" type="button" value="免费获取验证码" onclick="settime(this)" style="margin-left:0; width: 111px; float: left;"/>
            <img id="code_img" alt="" th:src="@{/images/right.png}" style="display:none; position:relative; float:right;left:10px; top:15px;"/>
            <input id="pre2" type="button" name="previous" class="previous action-button" value="&laquo;&nbsp;&nbsp;&nbsp;前一步" style="margin-left: 50px;"/>
            <input id="reg_btn" type="button" name="button" class="submit action-button" value="注册"/>
        </fieldset>
    </form>
</article>
<!--{{include '../common/footer'}}-->
<div th:replace="~{common/footer::footer}"></div>
</body>
<script th:src="@{/js/homepage_js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/js/reg_js/jquery.easing.min.js}"></script>
<script th:src="@{/js/validation_js/jquery.validate.js}"></script>
<script th:src="@{/js/validation_js/messages_zh.js}"></script>
<script th:src="@{/js/reg_js/reg.js}"></script>
<script th:src="@{/js/sweetalert_js/sweet-alert.min.js}"></script>
<script th:src="@{/js/homepage_js/popper.min.js}"></script>
<script th:src="@{/js/homepage_js/bootstrap.min.js}"></script>
<script th:src="@{/js/homepage_js/plugins.js}"></script>
<script th:src="@{/js/homepage_js/active.js}"></script>
<script type="text/javascript">
    $(window).load(function() {
        $(".loading").fadeOut(750);
    });
    $().ready(function () {
        $("#next1").css("background", "#ddd").prop("disabled", true);
        $("#next2").css("background", "#ddd").prop("disabled", true);
        $("#pre1").css("background", "#081f3e").prop("disabled", false);
        $("#pre2").css("background", "#081f3e").prop("disabled", false);
        $("#reg_btn").css("background", "#ddd").prop("disabled", true);
        $("#free_code_btn").css("color", "white").prop("disabled", true);
    });

    //第一页校验下一步按钮失效正确填写信息正常
    //1、用户名校验
    var flag1_1 = false, flag1_2 = false, flag1_3 = false;
    var reg_name = /(^[a-zA-Z0-9_-]{4,16}$)|(^[\u2E80-\u9FFF]{2,5})/;
    $("#username").bind("input propertychange", function () {
        if (reg_name.test($("#username").val()) && $("#username").val() != null && $("#username").val() != "") {
            flag1_1 = true;
            $("#name_img").css("display", "inline-block");

        } else {
            $("#next1").css("background", "#ddd").prop("disabled", true);
            $("#name_img").css("display", "none");
            flag1_1 = false;
        }
        if (flag1_1 && flag1_2 && flag1_3) {
            $("#next1").css("background", "#081f3e").prop("disabled", false);
        }

    });

    //2、密码校验
    $("#password").bind("input propertychange", function () {
        if ($("#password").val().length >= 6) {
            if ($("#repwd").val() == null) {
                $("#password_img").css("display", "inline-block");
                flag1_2 = true;
            } else {
                if ($("#repwd").val() == $("#password").val()) {
                    $("#repwd_img").css("display", "inline-block");
                    $("#password_img").css("display", "inline-block");
                    $("#next1").css("background", "#081f3e").prop("disabled", false);
                    $("#repwd-error").css("display", "none");
                    flag1_2 = true;
                } else {
                    $("#next1").css("background", "#ddd").prop("disabled", true);
                    $("#repwd_img").css("display", "none");
                    flag1_3 = false;
                }
            }
            flag1_2 = true;
            $("#password_img").css("display", "inline-block");
        } else {
            $("#next1").css("background", "#ddd").prop("disabled", true);
            $("#password_img").css("display", "none");
            flag1_2 = false;
        }
        if (flag1_1 && flag1_2 && flag1_3) {
            $("#next1").css("background", "#081f3e").prop("disabled", false);
        }
    });
    //3、确认密码校验
    $("#repwd").bind("input propertychange", function () {
        if ($("#repwd").val() == $("#password").val()) {
            $("#repwd_img").css("display", "inline-block");
            flag1_3 = true;
        } else {
            $("#next1").css("background", "#ddd").prop("disabled", true);
            $("#repwd_img").css("display", "none");
            flag1_3 = false;
        }
        if (flag1_1 && flag1_2 && flag1_3) {
            $("#next1").css("background", "#081f3e").prop("disabled", false);
        }
    });

    //第二页校验下一步按钮失效正确填写信息正常
    //4、真实姓名校验
    var flag2_1 = false, flag2_2 = false, flag2_3 = false;
    var reg_realname = /^[\u4E00-\u9FA5\uf900-\ufa2d·s]{2,20}$/;
    $("#realname").bind("input propertychange", function () {
        if (reg_realname.test($("#realname").val()) && $("#realname").val() != "" && $("#realname").val() != null) {
            $("#realname_img").css("display", "inline-block");
            flag2_1 = true;
        } else {
            $("#next2").css("background", "#ddd").prop("disabled", true);
            $("#realname_img").css("display", "none");
            flag2_1 = false;
        }
        if (flag2_1 && flag2_2 && flag2_3) {
            $("#next2").css("background", "#081f3e").prop("disabled", false);
        }
    });
    //5、真实年龄校验
    var real_age = /^(?:[1-9][0-9]?|1[01][0-9]|300)$/;
    $("#age").bind("input propertychange", function () {
        if (real_age.test($("#age").val()) && $("#age").val() != "" && $("#age").val() != null) {
            $("#age_img").css("display", "inline-block");
            flag2_2 = true;
        } else {
            $("#next2").css("background", "#ddd").prop("disabled", true);
            $("#age_img").css("display", "none");
            flag2_2 = false;
        }
        if (flag2_1 && flag2_2 && flag2_3) {
            $("#next2").css("background", "#081f3e").prop("disabled", false);
        }
    });
    //6、手机号码校验
    var real_phone = /^1[3,5,7,8](\d{9})$/;;
    $("#phone").bind("input propertychange", function () {
        if (real_phone.test($("#phone").val()) && $("#phone").val() != "" && $("#phone").val() != null) {
            $("#phone_img").css("display", "inline-block");
            flag2_3 = true;
        } else {
            $("#next2").css("background", "#ddd").prop("disabled", true);
            $("#phone_img").css("display", "none");
            flag2_3 = false;
        }
        if (flag2_1 && flag2_2 && flag2_3) {
            $("#next2").css("background", "#081f3e").prop("disabled", false);
        }
    });
    //第二页校验下一步按钮失效正确填写信息正常
    //7、邮箱校验
    var flag3_1 = false, flag3_2 = false;
    var rightemail = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
    $("#email").bind("input propertychange", function () {
        if (rightemail.test($("#email").val()) && $("#email").val() != null) {
            $("#email_img").css("display", "inline-block");
            $("#free_code_btn").css("color", "#333").prop("disabled", false);
            flag3_1 = true;
        } else {
            $("#email_img").css("display", "none");
            $("#reg_btn").css("background", "#ddd").prop("disabled", true);
            $("#free_code_btn").css("color", "white").prop("disabled", true);
            flag3_1 = false;
        }
        if (flag3_1 && flag3_2) {
            $("#reg_btn").css("background", "#081f3e").prop("disabled", false);
        }
    });
    function code(result) {
        var code = result.extend.code;
        $("#code").bind("input propertychange", function () {
            if ($("#code").val() == code) {
                $("#code_img").css("display", "inline-block");
                flag3_2 = true;
            } else {
                $("#code_img").css("display", "none");
                $("#reg_btn").css("background", "#ddd").prop("disabled", true);
                flag3_2 = false;
            }
            if (flag3_1 && flag3_2) {
                $("#reg_btn").css("background", "#081f3e").prop("disabled", false);
            }
        });
    }
    var data = "";
    //点击注册开始注册
    $("#reg_btn").click(function () {
        var data = $("#msform").serialize().split("&");
        data = data[0] + "&" + data[1] + "&" + data[2] + "&" + data[3] + "&" + data[4] + "&" + data[5] + "&" + data[6] + "&" + data[7];
        console.log(data);
        $.ajax({
            url: "/medical/user/reg",
            type: "POST",
            data: data,
            success: function (res) {
                if (res.code == 200) {
                    swal({
                        title: "注册成功！请点击登录",
                        type: "success",
                    }, function () {
                        location.href = "/medical/user/to_login";
                    });
                } else {
                    swal({
                        title: "注册失败！请重新注册",
                        type: "error",
                    }, function () {
                        location.href = "/medical/user/to_reg";
                    });
                }
            },
            error: function () {
                swal({
                    title: "注册失败！系统发生未知错误！",
                    type: "error",
                })
            }
        });
    });

    //点击获取验证码
    //点击解除
    $("#free_code_btn").click(function () {
        console.log("dasdsad");
        swal({
            title: "验证码已发送请查收",
            type: "success",
        })
        $.ajax({
            url: "/medical/user/mailsender",
            data: {
                email: $("#email").val(),
            },
            type: "POST",
            success: function (result) {
                swal({
                    title: "您已成功发送请查收！",
                    type: "success"
                });
                code(result);
                console.log(result.extend.code);
            }
        });
    });

    //免费获取验证码
    var countdown = 60;
    function settime(val) {
        if (countdown == 0) {
            val.removeAttribute("disabled");
            val.value = "免费获取验证码";
            countdown = 60;
        } else {
            val.setAttribute("disabled", true);
            val.value = "重新发送(" + countdown + ")";
            countdown--;
            setTimeout(function () {
                settime(val)
            }, 1000)
        }
    }

    //自定义校验表单方法
    //是否为正确手机号
    $.validator.addMethod('isMobile', function (value, ele) {
        var reg = /^1[3,5,7,8](\d{9})$/;
        if (reg.test(value)) {
            return true;
        } else {
            return false;
        }
    });

    //用户名检验：必须是2-5位中文或4-16位英文数字的组合
    $.validator.addMethod('rightusername', function (value, ele) {
        var reg = /(^[a-zA-Z0-9_-]{4,16}$)|(^[\u2E80-\u9FFF]{2,5})/;
        if (reg.test(value)) {
            return true;
        } else {
            return false;
        }
    });

    //验证真实姓名
    $.validator.addMethod('realname', function (value, ele) {
        var reg = /^[\u4E00-\u9FA5\uf900-\ufa2d·s]{2,20}$/;
        if (reg.test(value)) {
            return true;
        } else {
            return false;
        }
    });

    //验证年龄
    $.validator.addMethod('age', function (value, ele) {
        var reg = /^(?:[1-9][0-9]?|1[01][0-9]|300)$/;
        if (reg.test(value)) {
            return true;
        } else {
            return false;
        }
    });

    //邮箱校验
    $.validator.addMethod('rightemail', function (value, ele) {
        var reg = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
        if (reg.test(value)) {
            return true;
        } else {
            return false;
        }
    });

    // 定义表单字段的验证规则
    $("#msform").validate({
        rules: {
            username: {
                required: true,
                rightusername: true,
            },
            password: {
                required: true,
                minlength: 6,
            },
            repwd: {
                required: true,
                equalTo: '#password',
            },
            realname: {
                required: true,
                realname: true,
            },
            age: {
                required: true,
                age: true,
            },
            phone: {
                required: true,
                isMobile: true,
            },
            email: {
                required: true,
                rightemail: true,
            }
        }
    });
</script>
</html>