<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{common/common_css::common_css}"></div>
    <link rel="icon" th:href="@{/images/homepage_images/core-img/favicon.ico}">
</head>
<body>
<div class="wrapper" style="height: 655px;">
    <div class="content-wrapper" style="margin: 0;height: 655px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-danger">403</h2>
                <div class="error-content">
                    <h3><i class="fa fa-warning text-danger"></i>┗|｀O′|┛ !权限错误.</h3>
                    <p>
                        您目前没有权限执行此操作
                        同时，您可以 <a href="../../index.html">返回上一页。</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
<div th:replace="~{common/common_js::common_js}"></div>
</html>