<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="fastDFS_images">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    html::-webkit-scrollbar {
        display: none;
    }
</style>
<link rel="stylesheet" href="//at.alicdn.com/t/font_888320_p99dmt9e38g.css">
<body>
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">宜家医坊文件管理中心</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">主页</a></li>
                            <li class="breadcrumb-item active">文件管理中心</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item imgSource"><a class="nav-link active" href="javascript:;" data-toggle="tab">图片管理中心</a>
                        </li>
                        <li class="nav-item docSource"><a class="nav-link" href="javascript:;"
                                                          data-toggle="tab">诊疗方案管理中心</a></li>
                        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">病历管理中心</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="imgSource">
                            <div th:each="Imgitem:${fastDfsImg}" class="imgItem"
                                 style="margin-right: 8px; margin-bottom: 8px; width: 200px; border: 1px solid rgb(221, 221, 221); border-radius: 5px; padding: 10px; position: absolute; left: 0px; top: 0px;">
                                <img th:src="${Imgitem.imgPath}"
                                     style="width: 180px;border: 1px solid rgb(221, 221, 221);">
                                <p>参考路径：
                                <div style="height:100px;" class="fastDFS_path" th:text="${Imgitem.imgPath}"></div>
                                <button th:id="${Imgitem.imgId}" class="btn btn-danger btn-sm deleteImg_btn"
                                        style="position: relative; top: 20px; left: 120px; width: 60px;"><span>删除</span>
                                </button>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="docSource">
                            <div th:each="docItem:${fastDfsDoc}" class="docItem"
                                 style="margin-right: 8px; margin-bottom: 8px; width: 230px; border: 1px solid rgb(221, 221, 221); border-radius: 5px; padding: 10px; position: absolute; left: 0px; top: 0px;">
                                <a th:href="${docItem.docPath}"
                                   style="width: 100%; height: 30px; color: rgb(0, 123, 255); cursor: pointer;"
                                   th:text="${docItem.docName}"></a>
                                <p>参考路径：
                                <div style="height:100px;" class="fastDFSDoc_path" th:text="${docItem.docPath}"></div>
                                <button th:id="${docItem.docId}" class="btn btn-danger btn-sm deleteDoc_btn"
                                        style="margin-left: 10px; float: right; width: 60px;"><span>删除</span>
                                </button>
                                <button id="send" th:docId="${docItem.docId}" class="btn btn-sm subscriptionDoc_btn"
                                        style="color: white; background: #577b93; float: right;  width: 60px;">
                                    <span>推送</span>
                                </button>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer"><strong>© 2018 YJYF
    Medical Center. All Rights Reserved. 宜家医坊总裁办公室所有</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.0-alpha
    </div>
</footer>
</body>
<script>

    $(function () {
        $('#imgSource').masonry({
            itemSelector: '.imgItem'
        });

        $(".imgSource").click(function () {
            $(".imgSource,.docSource").removeClass("active");
            $("#imgSource,#docSource").removeClass("active");
            $(this).addClass("active");
            $('#imgSource').addClass("active").masonry({
                itemSelector: ".imgItem"
            });
        });

        $(".docSource").click(function () {
            $(".imgSource,.docSource").removeClass("active");
            $("#imgSource,#docSource").removeClass("active");
            $(this).addClass("active");
            $('#docSource').addClass("active").masonry({
                itemSelector: ".docItem"
            });
        })
    });

    $(document).on('click', '.deleteImg_btn', function () {
        var oldPath = $(this).siblings('.fastDFS_path').text();
        var path = oldPath.substring(27, oldPath.length);
        console.log(path);
        swal({
            title: "确定从fastDFS上删除路径为" + path + "的文件吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确认",
            cancelButtonText: "取消",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    // url:http + "/consumer/admin/fastDFS_delete",
                    url: "/medical/admin/fastDFS_delete",
                    type: "POST",
                    xhrFields: {
                        withCredentials: true
                    },
                    data: {oldPath: path},
                    success: function (res) {
                        if (res.code = 200) {
                            swal({
                                title: "删除成功！",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal({
                                title: "删除失败！",
                                type: "error"
                            });
                        }
                    },
                    error: function () {
                        swal({
                            title: "系统发生未知错误！删除失败！",
                            type: "error"
                        });
                    }
                });
            } else {
                swal({
                    title: "您已取消删除！",
                    type: "success"
                });
            }
        });
    });

    $(function () {
        // $("form").on('submit', function (e) {
        //     e.preventDefault();
        // });

        connect();

        $("#disconnect").click(function () {
            disconnect();
        });

        /*推送消息*/
        $( "#send" ).click(function() { sendName(); });
    });

    /*推送消息*/
    function sendName() {
        stompClient.send("/app/topic/subscription", {}, JSON.stringify({'content': $("#send").parent("div").find("div:eq(0)").text()}));
    }

    /*WebSocket 配置*/
    var stompClient = null;

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected) {
            $("#conversation").show();
        }
        else {
            $("#conversation").hide();
        }
        $("#notice").html("");
    }

    /*连接*/
    function connect() {

        /*连接上端点(基站)*/
        var socket = new SockJS('/medical/endpoint-websocket');

        /*用stom进行包装，规范协议*/
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);

            /*订阅/topic/server_info信道的消息*/
            stompClient.subscribe('/topic/diagnosis', function (result) {
                showContent(JSON.parse(result.body));
            });
        });
    }

    /*断开*/
    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function showContent(body) {
        $("#notice").prepend("<tr><td>" + body.content + "</td> <td>" + new Date(body.time).toLocaleString() + "</td></tr>");
    }

</script>
</html>