<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="main_aside">
<head>
    <meta charset="UTF-8">
    <title>基于大数据技术的医疗服务平台</title>
    <script th:src="@{/js/main_js/bootstrap.bundle.js}"></script>
</head>
<style>
    html::-webkit-scrollbar {
        display: none;
    }
</style>
<body scroll="no" style="overflow-y: hidden">
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link">
        <img src="" th:src="@{/images/main_image/AdminLTELogo.png}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8"/>
        <span class="brand-text font-weight-light">超级管理员</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="" th:src="@{/images/main_image/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <div class="d-block" style="margin-top: 4px; color: green; font-weight: bold; font-size: 13px;cursor: pointer">在线</div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- 管理员监管区 class = "menu-open" 页面加载自动打开-->
                <li class="nav-item has-treeview">
                    <a th:href="@{/#}" class="nav-link"> <i class="nav-icon fa fa-flask"></i>
                        <p>管理员监管区 <i class="right fa fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/useradmin}" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>管理员列表</p>
                            </a></li>
                        <li class="nav-item"><a th:href="@{/admin/roleManager}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>角色权限信息管理</p>
                        </a></li>
                        <li class="nav-item"><a th:href="@{/admin/fileManager}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>文件方案管理中心</p>
                        </a></li>
                    </ul>
                </li>

                <!-- 患者信息管理  class = "menu-open" 页面加载自动打开-->
                <li class="nav-item has-treeview">
                    <a th:href="@{/#}" class="nav-link"> <i class="nav-icon fa fa-dashboard"></i>
                        <p>患者信息管理 <i class="right fa fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/to_main}" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>患者基本资料</p>
                            </a></li>
                        <li class="nav-item"><a href="#" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>患者病情资料</p>
                        </a></li>
                        <li class="nav-item"><a href="#" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>患者治疗方案</p>
                        </a></li>
                    </ul>
                </li>

                <!-- 医师信息管理区 class = "menu-open" 页面加载自动打开-->
                <li class="nav-item has-treeview">
                    <a th:href="@{/#}" class="nav-link"> <i class="nav-icon fa fa-flask"></i>
                        <p>医师信息管理 <i class="right fa fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/useradmin}" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>患者预约列表</p>
                            </a></li>
                        <li class="nav-item"><a th:href="@{/admin/useradmin}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>权限信息管理</p>
                        </a></li>
                        <li class="nav-item"><a th:href="@{/admin/filemanager}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>文件管理中心</p>
                        </a></li>
                        <li class="nav-item"><a th:href="@{/admin/doctorOverview}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>医师总览</p>
                        </a></li>
                    </ul>
                </li>

                <!--推送信息管理-->
                <li class="nav-item has-treeview"><a href="#" class="nav-link">
                    <i class="nav-icon fa fa-edit"></i>
                    <p>推送信息管理<i class="fa fa-angle-left right"></i></p>
                </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"><a href="#" class="nav-link"> <i
                                class="fa fa-circle-o nav-icon"></i>
                            <p>订阅信息管理</p>
                        </a></li>
                        <li class="nav-item"><a href="#" class="nav-link"> <i
                                class="fa fa-circle-o nav-icon"></i>
                            <p>自动推送管理</p>
                        </a></li>
                    </ul>
                </li>

                <!-- 个性化定制部分 -->
                <li class="nav-item has-treeview"><a href="#" class="nav-link">
                    <i class="nav-icon fa fa-edit"></i>
                    <p>个性定制管理<i class="fa fa-angle-left right"></i></p>
                </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"><a href="#" class="nav-link"> <i
                                class="fa fa-circle-o nav-icon"></i>
                            <p>定制人信息管理</p>
                        </a></li>
                        <li class="nav-item"><a href="#" class="nav-link"> <i
                                class="fa fa-circle-o nav-icon"></i>
                            <p>定制方案管理</p>
                        </a></li>
                    </ul>
                </li>

                <li class="nav-item has-treeview"><a href="#" class="nav-link">
                    <i class="nav-icon fa fa-edit"></i>
                    <p>
                        文件上传下载<i class="fa fa-angle-left right"></i>
                    </p>
                </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <form id="basic_form" enctype="multipart/form-data">
                                <input style="margin-top: 8px; float: left; display: block; width: 157px; font-size: 10px; background: #212529"
                                       class="form-control form-control-lg" type="file" name="file" title="患者基本信息上传">
                                <button style="line-height: 5px; margin-top: 10px; margin-left: 10px; float: left; width: 50px; height: 34px;"
                                        class="btn btn-block btn-success basic_upload" type="button">提交
                                </button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form id="fastDFS_form" enctype="multipart/form-data">
                                <input id="fastDFS_input"
                                       style="margin-top: 8px; float: left; width: 157px; font-size: 10px; background: #212529"
                                       class="form-control form-control-lg" type="file" name="file" title="患者病况信息上传">
                                <button style="margin-top: 10px; margin-left: 10px; float: left; width: 50px; height: 34px;"
                                        class="btn btn-block btn-success fastDFS_upload" type="button">提交
                                </button>
                            </form>
                        </li>
                        <li class="nav-item"><input
                                style="margin-top: 8px; float: left; width: 157px; font-size: 10px; background: #212529"
                                class="form-control form-control-lg" type="file" name="file" title="患者治疗方案上传">
                            <button style="margin-top: 10px; margin-left: 10px; float: left; width: 50px; height: 34px;"
                                    class="btn btn-block btn-success">提交
                            </button>
                        </li>
                        <li class="nav-item"><input
                                style="margin-top: 8px; float: left;  width: 157px; font-size: 10px; background: #212529"
                                class="form-control form-control-lg" type="file" name="file" title="患者治疗方案上传">
                            <button style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px; float: left; width: 50px; height: 34px;"
                                    class="btn btn-block btn-success">提交
                            </button>
                        </li>
                        <li class="nav-item" style="margin-top: 20px;"><a href="#"
                                                                          class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>患者信息表下载</p>
                        </a></li>
                        <li class="nav-item"><a href="#" class="nav-link"> <i
                                class="fa fa-circle-o nav-icon"></i>
                            <p>患者病情表下载</p>
                        </a></li>
                        <li class="nav-item"><a href="#" class="nav-link"> <i
                                class="fa fa-circle-o nav-icon"></i>
                            <p>患者治疗表下载</p>
                        </a></li>
                        <li class="nav-item"><a href="#" class="nav-link"> <i
                                class="fa fa-circle-o nav-icon"></i>
                            <p>医师排班表下载</p>
                        </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link"><i class="nav-icon fa fa-th"></i>
                        <p>通知公告 <span class="right badge badge-danger">New</span></p>
                    </a></li>
                <!--医生简介-->
                <li class="nav-item">
                    <a th:href="@{/admin/famous_dr}" target="_blank" class="nav-link"> <i
                            class="nav-icon fa fa-server"></i>
                        <p>名师简介</p>
                    </a></li>
                <!--患者分析图表-->
                <li class="nav-item">
                    <a th:href="@{/admin/analyze}" class="nav-link"> <i class="nav-icon fa fa-database"></i>
                        <p>患者分析</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</body>
<script th:src="@{/js/main_js/adminlte.min.js}"></script>
<script th:src="@{/js/sweetalert_js/sweet-alert.min.js}"></script>
<script type="text/javascript">
    $(".basic_upload").click(function () {
        var formData = new FormData($('#basic_form')[0]);
        swal({
            title: "确定上传到患者基本信息数据库吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确认上传",
            cancelButtonText: "取消上传",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/medical/admin/upload",
                    type: "POST",
                    async: false,
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.code == 200) {
                            swal({
                                title: "上传成功！",
                                type: "success"
                            }, function () {
                                location.href = "/medical/admin/to_main";
                            });
                        } else {
                            swal({
                                title: "上传失败请重新上传！",
                                type: "error"
                            }, function () {
                                window.location.reload();
                            });
                        }
                    }
                });
            } else {
                swal({
                    title: "您已取消上传！",
                    type: "success"
                });
            }
        });
    });

    // 上传图片到fastDFS
    $('.fastDFS_upload').click(function () {
        var formData = new FormData($('#fastDFS_form')[0]);
        swal({
            title: "确定上传图片到fastDFS文件服务器吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确认上传",
            cancelButtonText: "取消上传",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/medical/admin/fastDFS_upload",
                    type: "POST",
                    async: false,
                    data: formData,
                    xhrFields: {
                        withCredentials: true
                    },
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.code == 200) {
                            swal({
                                title: "上传成功！",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal({
                                title: "上传失败请重新上传！",
                                type: "error"
                            }, function () {
                                window.location.reload();
                            });
                        }
                    }
                });
            } else {
                swal({
                    title: "您已取消上传！",
                    type: "success"
                });
            }
        });
    });
</script>
</html>