<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smxy.healthmedical.dao.FastDfsDocMapper">

	<!--获取所有fastDFS文档路径-->
	<select id="getDocPath" resultType="com.smxy.healthmedical.bean.FastDfsDoc">
		select * from tbl_fastdfs_doc
	</select>

	<!--插入文档路径-->
	<insert id="insertDocPath" parameterType="com.smxy.healthmedical.bean.FastDfsDoc">
		insert into tbl_fastdfs_doc (doc_id, doc_name, doc_path) values (#{docId}, #{docName}, #{docPath})
	</insert>

	<!--删除文档路径-->
	<delete id="deleteDoc" parameterType="String">
		delete from tbl_fastdfs_doc where doc_path = #{oldPath}
	</delete>

	<!--根据路径参数查出文档信息-->
	<select id="getFastDfsDocInfoByInPath" parameterType="integer" resultType="com.smxy.healthmedical.bean.FastDfsDoc">
		select * from tbl_fastdfs_doc where doc_id = #{id}
	</select>


</mapper>